.mobi-menu, header nav a.close { display:none; }

@media (min-width:993px) and (max-width:1200px) { 

header nav ul li a { font-size:13px; padding:16px 9px; }
		
}

@media (min-width:769px) and (max-width:992px) {

header .head-right { margin-top:25px; }
header .head-right .search { float:right; }
header .head-right .cart { display:inline-block; width:100%; border:none; margin-top:10px; }
header .left-menu { margin-top:57px; }

header nav ul li a { text-transform:none; font-size:13px; padding:10px 5px; }

.slider { margin-bottom:40px; }
.slider::after { display:none; }
.slider li section { display:none; }

.other-container .testimonials, .other-container
 .qus, .other-container .newslatter, .other-container .club { margin-bottom:20px; }
.other-container .club > img { width:100%; }

footer .new-pro .pro { width:100%; }
footer .new-pro .inq { width:100%; }
footer .new-pro .inq a { margin-top:15px; } 


.pro-left .catagory li a { font-size:12px; padding:15px 10px; }

.product-list ul li p { font-size:18px; }
.product-list ul li .price { font-size:16px; }
.pro-left h3 { font-size:16px; padding:0 10px; }

.pro-left .price-range { padding:25px 10px; }
.pro-left .size li { padding:15px 10px; }

}

@media (max-width: 767px) {

header { padding-bottom:70px; position:relative; }
header .left-menu { margin-top:10px; position:absolute; right:15px; z-index:1; }
header .left-menu li a { font-size:12px; margin:0 0 0 15px; }
header figure { float:left; width:50%; }

header .head-right { margin:0;  right:0; width:100%; }	
header .head-right .soci { position:absolute; right:0; top:30px; }
header .head-right .cart { position:absolute; right:15px; top:70px; width:35%; border:none; }

header .head-right .search { position:absolute; right:15px; bottom:-145px; }

.mobi-menu { display:block; height:45px; width:45px; text-align:center; background:#f8ac2d; color:#FFF; cursor:pointer; border-radius:50%; position:absolute; left:15px; bottom:20px; line-height:43px; font-size:16px; }
header nav a.close { display:block; height:40px; width:40px; margin:15px 15px 15px 0; float:right; border-radius:50%; background:#ed6a25; text-align:center; color:#fff; opacity:1; line-height:38px; }
header nav { display:none; position:fixed; top:0; bottom:0; z-index:99; border:none;}
header nav ul li { display:inline-block; width:100%; }
header nav ul li a { border-bottom:rgba(255,255,255,0.5) 1px dashed; padding:7px 10px; }


.mid-container img { margin:20px 0; }
.mid-container li { margin-bottom:10px; }
.mid-container section a { width:100%; text-align:center; }

h1 { font-size:24px; }  

.catagoty-list { margin-top:0; }

.catagoty-list ul li, .product-list ul li, .product-list.listing ul li  { width:100%; margin:0 0 15px 0; }
.pro-short { float:left; margin-top:15px; }

.slider { margin-bottom:10px; }
.slider::after { display:none; }
.slider li section { display:none; }

.other-container .testimonials, .other-container .qus, .other-container .newslatter, .other-container .club { margin-bottom:20px; }

.other-container .qus { background:#00a650; }
.other-container .qus .call, .other-container .qus .time { display:inline-block; width:100%; margin:20px 0 0 0; }
.other-container .club > img { width:100%; }

.other-container .newslatter input[type="text"] { width:100%; margin-bottom:15px; }
.other-container .newslatter input[type="submit"] { width:100%; }

.other-container .club > a { bottom:7px; right:10px; padding:0 20px; font-size:14px; height:35px; line-height:35px; }

footer .new-pro { margin-top:30px; }
footer .new-pro .pro { width:100%; text-align:center; }
footer .new-pro .inq { width:100%; }
footer .new-pro .inq a { margin-top:15px; } 

footer .affo { margin-top:25px; display:inline-block; width:100%; text-align:center; }
footer .water { text-align:center; }
footer .affo hr, footer .water hr { display:none; text-align:center; }

.pro-detail .details { margin-top:25px; }
.pro-contains .imgs img { margin:0 4% 20px 0; width:46%; }
.pro-contains .imgs img:nth-child(2n) { margin-right:0; }

.pro-detail .details .options .block { width:100%; margin:0 0 20px 0; }
.pro-detail .details .cart { width:100%;  }
.pro-detail .details .cart button { width:100%; text-align:center; }

}












